{
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".babelrc",
        ".eslintrc",
        ".stylelintrc",
        ".huskyrc",
        ".lintstagedrc"
      ],
      "options": {
        "parser": "json"
      }
    }
  ],
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5"
}